.carousel-item img {
  height: 700px;
}
.caro-desc {
  margin-bottom: 160px;
}

@media screen and (max-width: 576px) {
  .carousel-item img {
    height: 400px;
  }
  .caro-desc {
    margin-bottom: 60px;
  }
}
